*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
.page{
  height: 100vh;
  background:#EEE;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "logo logo logo nav nav nav nav nav nav nav "
    "cont cont cont cont cont cont cont side side side "
    "foot foot foot foot foot foot foot foot foot foot ";
}
h2{
  grid-area: logo;
  background-color: rgb(94, 49, 153);
  color :black
}
nav{
  grid-area: nav;
  background-color: yellowgreen;
}
section{
  grid-area: cont;
  background-color: rgb(7, 43, 3);
  color :black
}
aside{
  grid-area: side;
  background-color: yellow;
  color :black
}
footer{
  grid-area: foot;
  background-color: teal;
  color: black;
}