
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkBY4q1fQicIlqUbzXWVHtbwnK5PyTTIcT_-1eIYfRlvCYKsjfYOyaMFxsQgOjTFlAWk4&usqp=CAU);
    background-size: auto;
    height: 3000px;
    }
header{ 
    color: rgb(0, 0, 0);
    background-color:green;
    padding: 0  px 5px;
    width:33%;
    margin-left: auto;
    margin-right: auto;
    border-bottom:  10px double cadetblue;
    border-top:  10px double cadetblue;
    border-radius: 0px;
    text-shadow: 3px 4px 4px red;
    text-align: center;
    letter-spacing: 30px;
    font-size: 10px;
    }
    label{
        color: grey;
    }
    #email{
    background-color: rgb(0, 0, 0);
    color: yellow
    }
    #pass{
    background-color:  rgb(0, 0, 0);
    color: yellow
    }
    .sum{
        background-color: green;
    }
    #hak{
    border:10px solid  grey;
    background-color: darkgray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    line-height:200%;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    opacity: 0.7;
    }
    form{
 text-align: center;
 padding: 10px;
    }
    .one{
        border-bottom: 5px solid black;
        color: black;
    }
    .two{
        border-bottom: 5px solid red;
        color: red;
    }
    .three{
        border-bottom: 5px solid blue;
        color: blue;
    }
    .four{
        border-bottom: 5px solid green;
        color:green;
    }
    .five{
        border-bottom: 5px solid green;
        color:green;
    }
    .six{
        border-bottom: 5px solid green;
        color:green;
    }
    .seven{
        border-bottom: 5px solid green;
        color:green;
    }
    .eight {
        border-bottom: 5px solid green;
        color:green;
    }
    .nine {
        border-bottom: 5px solid green;
        color:green;
    }
    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine {
        height: 30px;
        padding: 10px;
        margin: 20px 0px;
        background-color: cadetblue;
        max-width: 300px;
        text-transform: capitalize;
        font-style: italic;
        cursor: pointer;
    }
    hr {
        width: 80%;
    }
    aside {
        overflow: auto;
        height: 300px;
        width: 330px;
        margin: 10px 0px;
        border:10px solid black;
        background-color: grey;
        padding: 10px 10px;
    }
    .parent div {
        border:4px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 23.75%;
        float: left;
        margin-left: 0%;
        margin-top: 10px;
        background-color: yellowgreen;
    }
    .clear {
        clear: both;
    }
    
    #fog{
        background-color: seagreen;
        font-size: 30px;
        text-align: center;
        border: 3px solid black;
        position: sticky;
        top: 0;
    }
    a{
        color:blue;
        text-decoration: none;
    }
    a:hover{
        color :red;
    }
    .search{
        text-align: center;
        padding: 30px;
    }
    .bth{
        width: 100%;
    }
    ::selection{
        background-color: yellow;
        color: black;
    }
    .yeli{
        color:black;
        text-decoration: none;
    }